.svg {
	display: block;
}
.circle {
	stroke-width: 1px;
	stroke: #ccc;
}
.xAxis {
	display: block;
}
.yAxis {
	display: block;
}
.legend {
	display: block;
	border-radius: 5px;
}
.legendText {
	text-transform: capitalize;
}
