@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.legend {
	color: #fff;
	display: flex;
	border-spacing: 30px 2rem;
	&Freq {
		visibility: unset;
	}
	&Perc {
		visibility: unset;
	}
	&Type {
		visibility: unset;
	}
}
.rows {
	border: 1px dashed #ccc;
	display: block;
	td {
		text-transform: capitalize;
		font-family: 'Roboto';
	}
}
