.budget {
	display: block;
}
.circle {
	display: block;
	stroke-width: 1px;
	stroke: #fff;
}
.xAxis {
	display: none;
}
.xAxis2 {
	display: none;
}

.ctrl {
	display: block;
}
.labels {
	display: block;
}
