@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.chart {
	display: block;
}

.barGrp {
	display: block;
	& > rect:hover {
		opacity: 0.8;
		cursor: pointer;
	}
}
.barAxis {
	display: block;
	& > path {
		display: none;
	}
	& > path,
	& > line {
		shape-rendering: crispEdges;
	}
	text {
		fill: #fff;
		font-size: small;
		font-family: 'Roboto';
	}
}
.barText {
	fill: #fff;
	font-family: 'Roboto';
	font-size: small;
}
